src/crs-iedr-api-commands/src/main/resources/ieapi-domain-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="http://www.domainregistry.ie/ieapi-domain-1.1"
	xmlns:domain="http://www.domainregistry.ie/ieapi-domain-1.1"
	xmlns:ieapi="http://www.domainregistry.ie/ieapi-1.1"
	xmlns:ieapicom="http://www.domainregistry.ie/ieapicom-1.1"
	xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<import namespace="http://www.domainregistry.ie/ieapicom-1.1"
		schemaLocation="ieapicom-1.1.xsd" />
	<import namespace="http://www.domainregistry.ie/ieapi-1.1"
		schemaLocation="ieapi-1.1.xsd" />

	<annotation>
		<documentation>
			IEAPI Protocol v1.1 domain provisioning schema.
		</documentation>
	</annotation>

	<element name="query" type="domain:queryType" />
	<element name="check" type="domain:mNameType" />
	<element name="create" type="domain:createType" />
	<element name="autocreate" type="domain:createType" />
	<element name="delete" type="domain:sNameType" />
	<element name="info" type="domain:sNameType" />
	<element name="modify" type="domain:modifyType" />
	<element name="transfer" type="domain:transferType" />
	<element name="msd" type="domain:mNameType" />

        <complexType name="queryType">
                <attribute name="type" type="domain:queryTypeType" />
                <attribute name="subtype" type="domain:querySubTypeType" use="optional"/>
                <attribute name="contact" type="ieapicom:clIDType" use="optional"/>
		<attribute name="contacttype" type="domain:queryContactTypeType" use="optional"/>
		<attribute name="month" type="gYearMonth" use="optional" />
                <attribute name="page" type="int" use="optional" default="1" />
        </complexType>

        <simpleType name="queryTypeType">
                <restriction base="token">
                        <enumeration value="all" />
                        <enumeration value="transfer" />
                </restriction>
        </simpleType>

        <simpleType name="querySubTypeType">
                <restriction base="token">
                        <enumeration value="inbound" />
                        <enumeration value="outbound" />
                </restriction>
        </simpleType>

	<simpleType name="queryContactTypeType">
		<restriction base="token">
			<enumeration value="admin"/>
			<enumeration value="tech"/>
		</restriction>
	</simpleType>

	<complexType name="createType">
		<sequence>
			<element name="name" type="ieapicom:labelType" />
			<element name="period" type="domain:periodType"
				minOccurs="0" />
			<element name="ns" type="domain:nsType" minOccurs="0"
				maxOccurs="unbounded" />
			<element name="holder" type="domain:holderType" />
			<element name="contact" type="domain:contactType"
				minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="periodType">
		<simpleContent>
			<extension base="domain:pLimitType">
				<attribute name="unit" type="domain:pUnitType"
					use="required" />
			</extension>
		</simpleContent>
	</complexType>

	<simpleType name="pLimitType">
		<restriction base="unsignedShort">
			<minInclusive value="1" />
			<maxInclusive value="99" />
		</restriction>
	</simpleType>

	<simpleType name="pUnitType">
		<restriction base="token">
			<enumeration value="y" />
			<enumeration value="m" />
		</restriction>
	</simpleType>

	<complexType name="modifyType">
		<sequence>
			<element name="name" type="ieapicom:labelType" />
			<element name="add" type="domain:addType" minOccurs="0" />
			<element name="rem" type="domain:remType" minOccurs="0" />
			<element name="chg" type="domain:chgType" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="addType">
		<sequence>
			<element name="ns" type="domain:nsType" minOccurs="0"
				maxOccurs="unbounded" />
			<element name="contact" type="domain:contactType"
				minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="remType">
		<sequence>
			<element name="ns" type="domain:nsNameType" minOccurs="0"
				maxOccurs="unbounded" />
			<element name="contact" type="domain:contactType"
				minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="chgType">
		<sequence>
			<element name="holder" type="domain:holderType" minOccurs="0"/>
			<element name="autorenew" type="boolean" minOccurs="0" />
			<element name="renew" type="boolean" minOccurs="0" />
		</sequence>
	</complexType>
	
	<complexType name="transferType">
		<sequence>
			<element name="name" type="ieapicom:labelType" />
			<element name="ns" type="domain:nsType" minOccurs="0"
				maxOccurs="unbounded" />
			<element name="contact" type="domain:contactType"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="defaults" type="boolean" minOccurs="0" />
			<element name="status" type="boolean" minOccurs="0" />
		</sequence>
	</complexType>

	<element name="resData" type="domain:resDataType" />
	<element name="chkData" type="domain:chkDataType" />
	<element name="appData" type="domain:appDataType" />
        <element name="creData" type="domain:creDataType" />
	<element name="infData" type="domain:infDataType" />

        <complexType name="resDataType">
                <sequence>
                        <element name="page" type="int" />
                        <element name="totalPages" type="int" />
                        <element name="name" type="ieapicom:labelType"
                                maxOccurs="unbounded" />
                </sequence>
        </complexType>

	<complexType name="chkDataType">
		<sequence>
			<element name="cd" type="domain:checkType"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="reasonType">
		<simpleContent>
			<extension base="domain:reasonBaseType">
				<attribute name="code" type="ieapi:resultCodeType"
					use="required" />
			</extension>
		</simpleContent>
	</complexType>

	<simpleType name="reasonBaseType">
		<restriction base="token">
			<minLength value="1" />
			<maxLength value="32" />
		</restriction>
	</simpleType>

	<complexType name="checkType">
		<sequence>
			<element name="name" type="domain:checkNameType" />
			<element name="reason" type="domain:checkReasonType"
				minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="checkReasonType">
		<simpleContent>
			<extension base="normalizedString">
				<attribute name="code" type="integer" use="required" />
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="checkNameType">
		<simpleContent>
			<extension base="ieapicom:labelType">
				<attribute name="avail" type="boolean" use="required" />
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="creDataType">
		<sequence>
			<element name="name" type="ieapicom:labelType" />
			<element name="creDate" type="date" />
			<element name="exDate" type="date" />
		</sequence>
	</complexType>

	<complexType name="appDataType">
		<sequence>
			<element name="name" type="ieapicom:labelType" />
			<element name="appNumber" type="integer" />
			<element name="appDate" type="dateTime" />
			<element name="exDate" type="dateTime" />
		</sequence>
	</complexType>

	<complexType name="infDataType">
		<sequence>
			<element name="name" type="ieapicom:labelType" />
			<element name="status" type="domain:statusType" />
			<element name="billingStatus"
				type="domain:billingStatusType" />
			<element name="ns" type="domain:nsType" minOccurs="0"
				maxOccurs="unbounded" />
			<element name="holder" type="domain:holderType" />
			<element name="contact" type="domain:contactType"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="account" type="integer" />
			<element name="regDate" type="date" minOccurs="0" />
			<element name="renDate" type="date" minOccurs="0" />
		</sequence>
	</complexType>

	<simpleType name="statusType">
		<restriction base="token">
			<enumeration value="Active" />
			<enumeration value="Active - LOCKED" />
			<enumeration value="Suspended" />
			<enumeration value="Suspended - LOCKED" />
			<enumeration value="Deleted" />
			<enumeration value="Post-Registration Audit - LOCKED" />
		</restriction>
	</simpleType>

	<simpleType name="billingStatusType">
		<restriction base="token">
			<enumeration value="Billable" />
			<enumeration value="Autorenew" />
			<enumeration value="Renew" />
			<enumeration value="NotBillable" />
			<enumeration value="MSD" />
		</restriction>
	</simpleType>
	
	<complexType name="sNameType">
		<sequence>
			<element name="name" type="ieapicom:labelType" />
		</sequence>
	</complexType>

	<complexType name="mNameType">
		<sequence>
			<element name="name" type="ieapicom:labelType"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="nsType">
		<complexContent>
			<extension base="domain:nsNameType">
				<sequence>
					<element name="nsAddr" type="ieapicom:hAddrType"
						minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="holderType">
		<sequence>
			<element name="holderName" type="domain:holderNameType" />
			<element name="holderRemarks" type="string" minOccurs="0" />
		</sequence>
		<attribute name="class" type="token" />
	</complexType>

	<complexType name="holderNameType">
		<simpleContent>
			<extension base="token">
				<attribute name="category"
					type="token" />
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="contactType">
		<simpleContent>
			<extension base="ieapicom:clIDType">
				<attribute name="type" type="ieapicom:contactAttrType" />
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="nsNameType">
		<sequence>
			<element name="nsName" type="ieapicom:labelType" />
		</sequence>
	</complexType>

</schema>
